* {
    margin:auto;
    padding:0;
    box-sizing: border-box;
}
.head{
    text-decoration: underline;
    font-size: 3rem;
    color: brown;
    text-align: center;
}
.card-title{
    color: aliceblue;
    text-align: center;
}
.todo{
    background-color: black;
    color: white;
}
.todo-form{
    padding: 20px;
}
.container{
    margin-top: 10px;
    width: 500px;
    height: auto;
    border-radius: 2rem;
    border-color: black;
    padding: auto;
    background-color: #053B43;
    padding: 10px;

}
.input-save{
    display: flex;
    justify-content: center;
}
.save-btn{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 1rem;
    width: 80px;
}
.save-btn:hover{
   box-shadow: 0 0 5px #9bb0b3 ;
   
}

.input{
    padding: 5px;
    border-radius: 0.3rem;
    border-color: red;
    width: 40%;
}
.li-style{
    background-color: #02171a;
    color:white;
    
    border-radius: 0.6rem;
    margin:1rem 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style-type: none;
}
.li-style:hover{
    background-color: #50757b;
}

.bg-success{
    margin: 0.5 0 rem;
    padding: 0.5 rem;
    color:black;
    background-color: #ddffdd;
    border-left:6px solid #04aa6d;
}

.bg-deleted{
    margin: 0.5 0 rem;
    padding: 0.5 rem;
    color:black;
    background-color:#ffdddd;
    border-left:6px solid #f44336;
}
.dlt-btn{
    padding: 10px;
    margin: 2px;
}
.dlt-btn:hover{
    background-color: yellow;
}

